# Environment files
.env*.local
*.env
*.local
*.cache

# Dependencies
/node_modules
node_modules/*

# Build outputs
/.next
/out
/dist
/build

# IDE and System Files
/.vscode
.DS_Store
*.log
*.zip
dev_logs.txt
WACREN_CLIMET_website.html
